#footer
  .columns
    .col
      %h5 About the author
      %p This is the site of Harold Giménez. Awesomeful.
      %p Sometimes found on
      %a{:href => 'http://twitter.com/hgimenez'} 
        %img{ :src => '/images/icons/twitter.png', :alt => 'Twitter', :title => 'randomness as hgimenez at Twitter' }
      %a{:href => 'http://delicious.com/hagimenez'}
        %img{ :src => '/images/icons/delicious.png', :alt => 'Delicious', :title => 'links from hagimenez at Delicious' }
      %a{:href => 'http://last.fm/user/hgimenez'}
        %img{ :src => '/images/icons/lastfm.png', :alt => 'Last.fm', :title => 'kinda my music taste, as hgimenez on last.fm' }
      %p
        = link_to 'Read More', '/about'

    .col
      %h5 About this site
      %ul
        %li Hand crafted with #{link_to 'Ruby on Rails', 'http://rubyonrails.org'} and #{link_to 'jQuery', 'http://jquery.com'}
        %li Code at #{link_to 'Github', 'http://github.com/hgimenez/awesomeful'}
        %li Hosted on #{link_to 'Heroku', 'http://heroku.com'}

      %p
        = link_to 'Read More', '/about_site'
  
  %p.quite
    %small All content copyright &copy; 2009 Harold Giménez. Released under the Creative Commons License
