- semantic_form_for @post do |form|
  - form.inputs  do
    = form.input  :title
    = form.input  :body
    = form.input  :post_tag_list, :hint => 'comma separated'
    = form.input  :published, :as => :boolean
  = form.buttons
