-unless (@posts.empty? && @latest_post.nil?)
  #main-post
    .post-title
      %h2= link_to(@latest_post.title, post_path(@latest_post.to_param))
    .post-date Published #{time_ago_in_words(@latest_post.published_at)} ago
    .post-body= find_and_preserve @latest_post.cached_body_html
    .tags Tagged as: #{@latest_post.post_tag_list.join(', ')}
  %hr

  #three-posts
    - @three_posts.each do |p|
      .post
        .post-title= link_to p.title, post_path(p.to_param)
        .post-date= p.published_at.to_s(:awesomeful)
        .post-body= truncate_html(p.cached_body_html, :length => 100, :omission => '...')
        .read-more= link_to 'Read more', post_path(p.to_param)
  .clearfix

  #the-older-stuff
    %h3 The older stuff
    .older-posts
      = render :partial => 'post_list', :locals => { :posts => @posts }
-else
  %p There are no posts yet.
  -authenticated_only do
    %p Create your first post #{link_to 'here', new_post_path}

-content_for :sidebar do
  = render :partial => 'tags'
  -authenticated_only do
    .box.admin
      %h3 Admin
      %ul
        %li= link_to 'New Post', new_post_path
        %li= link_to 'Sign out', sign_out_path
        %li= link_to 'Password', edit_user_path(current_user)
      .post-drafts
        %h3 Post Drafts
        %ul
          -@post_drafts.each do |pd|
            %li= link_to truncate(pd.title, :limit => 15), edit_post_path(pd)

-content_for :javascripts do
  :javascript
    $(document).ready(function(){
      $('.tag').click(function(event){
        $('.older-posts').hide('blind', null, 'fast', $.get('/posts/tags/' + escape($(event.target).text()), null, null, 'script'));
        return false;
      });
    });
