.actions= link_to 'New Post', new_post_path()
- unless @posts.empty?
  - latest_post = @posts.slice!(0)
  %h2= link_to latest_post.title, post_path(latest_post.to_param)
  = latest_post.body_html
  /= disqus_comments(post_url(latest_post))
  %hr
  #the-older-stuff
    %h2 The older stuff
    - @posts.each do |p|
      .post
        .post-title= link_to p.title, post_path(p.to_param)
        .post-date= p.published_at.to_s(:awesomeful)
- else
  %p There are no posts. Create your first post #{link_to 'here', new_post_path}

- content_for :sidebar do
  .box.admin
    %h3 Admin
    %ul
      %li= link_to 'New Post', new_post_path
    .post-drafts
      %h3 Post Drafts
      %ul
        - @post_drafts.each do |pd|
          %li= link_to truncate(pd.title, :limit => 15), edit_post_path(pd)

