-authenticated_only do
  .actions= link_to "Edit", edit_post_path(@post)
%h2= @post.title

.post-body= find_and_preserve @post.cached_body_html

.post-meta Created #{time_ago_in_words(@post.created_at)} ago.

= disqus_comments
