!!! Strict
%html{ :lang => 'en', :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %title 
      = yield :title || 'Awesomeful'
    = stylesheet_link_tag     'screen', 'formtastic', 'formtastic_changes', :media => 'screen'
    = stylesheet_link_tag     "print", :media => 'print'
    = stylesheet_link_tag     "coderay", :media => 'all'
    = auto_discovery_link_tag :atom, posts_path(:format => :atom)
    <!--[if lte IE 6]><link rel="stylesheet" href="stylesheets/lib/ie.css" type="text/css" media="screen" charset="utf-8"><![endif]-->
  %body
    #page
      #header
        #awesomeful-info [<em>aw</em>-suh m fuh l]: <span class="quiet">-adjective</span> Full of awesomeness.
        %h1= link_to 'Awesomeful', root_path
      #body.wrapper
        = render :partial => 'shared/flashes'
        #sidebar
          = yield :sidebar
          .box
            %h3 I code
            = render :partial => 'shared/github_badge'
          .box
            %h3 I say things
            .tweets
        #main
          = yield
    = render :partial => 'shared/footer'
    = render :partial => 'shared/javascripts'
      

